html,body{
    padding:0;margin:0;
    list-style: none;
}
.video-box{
    width:500px;height:300px;
    border:1px solid red;
    position: relative;
    background: #000;
}
video{
    width:100%;height:100%;
}
.controls{
    width:100%;height:50px;background: rgba(200,200,200,0.6);
    position: absolute;left:0;bottom: 0;display:flex;
    align-items:center ;
    justify-content: space-around;


}
.playBtn{
    width:30px;height:30px;
    background: url("/img/play.png");
    background-size: 100%;
}
